* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    /* color: #fff; */
}

li {
    display: inline-block;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #4f1a5e;
}

.menu ul {
    margin: 15px 0;
}

.menu a {
    color: #fff;
    padding: 10px;
}

body {
    background-color: #fa4251;
}

.form {
    width: 800px;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-left {
    width: 25%;
}

.form-left img {
    border-radius: 10px 0 0 10px;
    vertical-align: middle;
    height: 500px;
}

.form-right {
    border-radius: 0 10px 10px 0;
    background-color: #fff;
    width: 75%;
    height: 500px;
}

.submit-form {
    padding: 10%;
    height: 100%;
}

.submit-form h3 {
    font-size: 20px;
    padding-bottom: 20px;
}

.form-control {
    padding: 15px 0;
}

.form-control input.err, .sub-control select.err {
    border-bottom: 1px solid red;
}

.form-control input:focus {
    outline-offset: 0;
    outline: none;
}

.form-control input.err::placeholder, .form-control input.err, .sub-control select.err {
    color: red;
}

.form-control input, .sub-control select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eaeaea;
}

.form-control input {
    padding: 10px 5px;
}

.sub-control select {
    padding: 11px 5px;
}

.form-control button {
    background-color: #57b846;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
}

.reset {
    margin: 0 -15px;
}

.sub-control {
    width: 50%;
    padding: 0 15px;
}